* {
	padding: 0;
	margin: 0;
	line-height: 0;
}

body {
	background-color: #ccc;
}

.container {
	border: 5px solid white;
	width: 600px;
	margin: 10px auto;
}

.thumbnail {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3px;
}

.thumb {
	width: 200px;
	border: 2px solid white;
	box-sizing: border-box;
}

.thumb:hover {
	opacity: 0.5;
	cursor: pointer;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}

.active {
	opacity: 0.5;
}
